*.pyc

venv/
.cache/
*.log
env/
.idea/.gitignore
.idea/cookiecutter-django.iml
.idea/inspectionProfiles/
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
env/Include/
env/Lib/site-packages/__pycache__/
env/Lib/site-packages/easy_install.py
env/Lib/site-packages/pip-19.2.3.dist-info/
env/Lib/site-packages/pip/__init__.py
env/Lib/site-packages/pip/__main__.py
env/Lib/site-packages/pip/__pycache__/
env/Lib/site-packages/pip/_internal/
env/Lib/site-packages/pip/_vendor/__init__.py
env/Lib/site-packages/pip/_vendor/__pycache__/
env/Lib/site-packages/pip/_vendor/appdirs.py
env/Lib/site-packages/pip/_vendor/cachecontrol/
env/Lib/site-packages/pip/_vendor/certifi/
env/Lib/site-packages/pip/_vendor/chardet/
env/Lib/site-packages/pip/_vendor/colorama/
env/Lib/site-packages/pip/_vendor/distlib/
env/Lib/site-packages/pip/_vendor/distro.py
env/Lib/site-packages/pip/_vendor/html5lib/
env/Lib/site-packages/pip/_vendor/idna/
env/Lib/site-packages/pip/_vendor/ipaddress.py
env/Lib/site-packages/pip/_vendor/lockfile/
env/Lib/site-packages/pip/_vendor/msgpack/
env/Lib/site-packages/pip/_vendor/packaging/
env/Lib/site-packages/pip/_vendor/pep517/
env/Lib/site-packages/pip/_vendor/pkg_resources/
env/Lib/site-packages/pip/_vendor/progress/
env/Lib/site-packages/pip/_vendor/pyparsing.py
env/Lib/site-packages/pip/_vendor/pytoml/
env/Lib/site-packages/pip/_vendor/requests/
env/Lib/site-packages/pip/_vendor/retrying.py
env/Lib/site-packages/pip/_vendor/six.py
env/Lib/site-packages/pip/_vendor/urllib3/
env/Lib/site-packages/pip/_vendor/webencodings/__init__.py
env/Lib/site-packages/pip/_vendor/webencodings/labels.py
env/Lib/site-packages/pip/_vendor/webencodings/mklabels.py
env/Lib/site-packages/pip/_vendor/webencodings/tests.py
env/Lib/site-packages/pip/_vendor/webencodings/x_user_defined.py
env/Lib/site-packages/pkg_resources/
env/Lib/site-packages/setuptools-41.2.0.dist-info/
env/Lib/site-packages/setuptools/
env/Scripts/
env/pyvenv.cfg
{{cookiecutter.project_slug}}/core/{{cookiecutter.project_slug}}/
{{cookiecutter.project_slug}}/db.sqlite3
